/**
 * Whale Assets: Utils
 */

// spacing
$sizes: 0 0, 2 2px, 5 5px, 10 10px, 20 20px;
$directions: 'l' 'left', 'r' 'right', 't' 'top', 'b' 'bottom';

@each $s_abr, $s in $sizes {
  @each $d_abr, $d in $directions {
    .p#{$d_abr}-#{$s_abr} {
      padding-#{$d}: $s !important;
    }
    .m#{$d_abr}-#{$s_abr} {
      margin-#{$d}: $s !important;
    }
  }
}

// display
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}

// opacity
.op-0 {
  opacity: 0;
}

// cursor
.c-move {
  cursor: move;
}

// vertical-align
.align-middle {
  vertical-align: middle !important;
}

// disabled link
a.disabled {
  i {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// labels from bs3, for bs5
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

  &.label-success {
    background-color: #5cb85c;
  }
  &.label-default:not(.label-success) {
    background-color: #ddd;
  }
}
